name: Repo Dispatcher
on:
  workflow_dispatch:
    inputs:
      device:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'select device to build'
        # Default value if no value is explicitly provided
        default: '[ "x86" , "r2s" ]'
        # Input has to be provided for the workflow to run
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Trigger Compile
          run: |
            echo toJSON('${{ github.event.inputs.device }}')
            curl \
            -X POST https://api.github.com/repos/${{ github.repository }}/dispatches \
            -H "Accept: application/vnd.github.everest-preview+json" \
            -H "Authorization: token ${{ secrets.REPO_TOKEN }}" \
            -d '{"event_type": "${{ github.event.inputs.device }}", "client_payload": {"device": "${{ github.event.inputs.device }}"}}' \
            -v
