name: example-client-payload-action
on: repository_dispatch
jobs:
  test:
    strategy:
      matrix:
        node: [10, 12, 14]

    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: 'echo "field: ${{ github.event.client_payload.foo }}"'
      - run: 'echo "payload: ${{ toJson(github.event.client_payload) }}"'
      - run: echo baz
        if: github.event.action == 'baz'
